{% extends '@EasyAdmin/layout.html.twig' %}
{% block title %}Admin{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-1">Administration</h1>
        <p class="lead">Bienvenue sur l'espace d'administration</p>
    </div>
{% endblock %}
