{% for dish in day.lunchOfTheDay.dishes.toArray %}
    <span style="color:{{ dish.type.codeCouleur }} !important;">{{ dish }}
        {% if dish.category%}
            {% for category in dish.category.toArray %}
                {% if category == 'aucune' %}
                {% else %}
                    <img src="{{ asset('images/logo/' ~ category.icon) }}" alt="">
                {% endif %}
            {% endfor %}
        {% endif %}
    </span>
{% endfor %}