{% for laitage in day.lunchOfTheDay.laitiers.toArray %}
    <span class="{{ laitage.type.slug }}">{{ laitage }}
        {% if laitage.category%}
            {% for category in laitage.category.toArray %}
                {% if category == 'aucune' %}
                {% else %}
                    <img src="{{ asset('images/logo/' ~ category.icon) }}" alt="">
                {% endif %}
            {% endfor %}
        {% endif %}
    </span>
{% endfor %}