{% for starter in day.lunchOfTheDay.starters.toArray %}
    <span style="color:{{ starter.type.codeCouleur }} !important;">{{ starter }}
        {% if starter.category%}
            {% for category in starter.category.toArray %}
                {% if category == 'aucune' %}
                {% else %}
                    <img src="{{ asset('images/logo/' ~ category.icon) }}" alt="">
                {% endif %}
            {% endfor %}
        {% endif %}
    </span>
{% endfor %}