.section-menu {
  display: flex;
  justify-content: center;
}
.section-header {
  text-align: center;
  margin-bottom: 20px;
}
table {
  text-align: center;
  align-items: center;
  width: 100%;
  border-collapse: separate !important;
  border-spacing: 0;
  tr {
    align-items: center;
  }
  .starter, .dish , .dessert {
    img {
      margin-left: 5px;
      width: 20px;
      align-items: baseline;
    }
    text-align: center;
    span:not(:last-child):after {
      content: '|';
      color: blue;
      margin-left: 5px;
    }
  }
}
@media print {
  hr {
    display: none;
  }
  table {
    .starter, .dish , .dessert {
      img {
        margin-left: 5px;
        width: 10px;
        align-items: baseline;
      }
      text-align: center;
    }
  }
}
td {
  width: 50%;
  font-weight: 500;
  border-bottom:solid 1px black;
}
th {
  border-bottom:solid 1px black;
}
hr {
  border: none;
  border-top: 1px solid #ccc;
  color: #333;
  width: 50px;
  height: 1px;
  overflow: visible;
  text-align: center;
}
span {
  display: inline-flex;
  align-items: center;
  margin: 5px 5px;
}
.orange {
  color: orange;
}
.jaune {
  color: yellow;
}
.vert {
  color: green;
}
.marron {
  color: brown;
}
.rose  {
  color: pink;
}
.rouge {
  color: red;
}
.bleu {
  color: blue;
}
.bleu-claire {
  color: lightskyblue;
}
