@media print {
  body {
    padding: 0;
    margin: 0;
  }
  header {
    margin: 0;
    .header-introduction {
      padding: 0;
      margin: 0;
      img {
        width: 20px;
      }
      h1 {
        text-transform: uppercase;
        font-size: 24px;
      }
    }
    .header-buttons {
      display: none;
    }
  }
  table{
    th {
      font-size: 12px;
    }
    td {
      font-size: 14px;
      font-weight: bold;
      font-family: 'Cormorant Garamond', serif !important;
    }
    td,th {
      padding: 0;
      margin: 0;
      span {
        margin: 0;
        padding: 0;
        img {
          width: 15px !important;
        }
      }
    }
  }
  .menu-header {
    hr {
      display: none;
    }
    h2 {
      margin-bottom: 20px;
      font-size: 15px;
      text-transform: uppercase;
    }
    h3 {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 16px;
    }
    padding: 0;
    margin: 0;
  }
  .menu-content {
    padding: 0;
    margin: 0;
  }
  .legends {
    padding: 0;
    margin-top: 30px;
    font-size: 10px !important;
    .couleurs {
      padding: 0;
      margin: 0;
      span {
        padding: 0;
        margin: 0;
      }
    }
    .logos {
      padding: 0;
      margin: 0;
      span {
        padding: 0;
        margin: 0;
      }
    }
  }
  footer {
    margin-top: 50px;
    display: initial;
    text-align: center;
    width: 100%;
    bottom: 10px;
    h3 {
      font-size: 12px;
    }
    p {
      font-size: 10px;
    }
    .footer-content {
      h4 {
        font-size: 12px;
      }
      p {
        margin-top: 10px;
        font-size: 12px;
      }
      margin-top: 50px;
      display: flex;
      justify-content: space-around;
    }
  }
}