<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="scroll-smooth">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | {{ 'app.title'|trans({}, 'global') }}</title>

        {% include 'partials/head/metatags.html.twig' %}
        {% include 'partials/head/favicons.html.twig' %}
        {% include 'partials/head/socials.html.twig' %}
        {% include 'partials/head/externals.html.twig' %}
        {% include 'partials/head/script.html.twig' %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="font-body duration-300">
        <header class="flex flex-row items-center gap-4 py-2 bg-primary-200 px-4 md:px-8 lg:px-16 xl:px-32 print:hidden">
            {% include 'components/_logo.html.twig' with {
                w: "50",
                h: "50"
            } %}
            {% include 'partials/header/_navbar.html.twig' %}
        </header>
        <main class="px-4 md:px-8 lg:px-16 xl:px-32">
            {% block body %}{% endblock %}
        </main>
        <footer class="px-4 md:px-8 lg:px-16 xl:px-32">

        </footer>
    </body>
</html>
