<footer class="display">
    <section class="footer-content">
        <aside>
            <h4>La Gestionnaire</h4>
            <p>N. ROLLOT-BASCHET</p>
        </aside>
        <aside>
            <h4>Le Proviseur</h4>
            <p>G.SEGUIN</p>
        </aside>
    </section>
</footer>