<footer class="display">
    <h3>Sous réserve des approvisionements et des arrivages primeurs.</h3>
    <p>Tous nos plats sont suceptibles de contenir des traces de fruits à coques.</p>
    <section class="legends">
        <aside>
            <h4>La Gestionnaire</h4>
        </aside>
        <aside>
            <h4>Le Proviseur</h4>
        </aside>
    </section>
</footer>