<header>
    <div class="header-introduction">
        <img src="{{ asset('images/logo/lyceehoche.svg') }}" alt="">
        <h1>Cité Scolaire Hoche</h1>
    </div>
    <div class="header-buttons">
        <a href="{{ path('home') }}">Accueil</a>
        <a onclick="window.print();" class="noPrint">
            Imprimer
        </a>
    </div>
</header>
