{% for accompagnement in day.dinnerOfTheDay.accompagnements.toArray %}
    <span style="color: {{ accompagnement.type.codeCouleur }}">
        {{ accompagnement }}
        {% if accompagnement.category%}
            {% for category in accompagnement.category.toArray %}
                {% if category == 'aucune' %}
                {% else %}
                    <img src="{{ asset('images/logo/' ~ category.icon) }}" alt="">
                {% endif %}
            {% endfor %}
        {% endif %}
    </span>
{% endfor %}