{% for starter in day.dinnerOfTheDay.starters.toArray %}
    <span class="{{ starter.type.slug }}">{{ starter }}
        {% if starter.category%}
            {% for category in starter.category.toArray %}
                {% if category == 'aucune' %}
                {% else %}
                    <img src="{{ asset('images/logo/' ~ category.icon) }}" alt="">
                {% endif %}
            {% endfor %}
        {% endif %}
    </span>
{% endfor %}