{% extends 'base.html.twig' %}

{% block title %}Bientôt{% endblock %}

{% block body %}
   <section class="soon">
       <div>
           <h1>Bientôt Disponible</h1>
           <p>En cours de maintenance</p>
       </div>
   </section>
{% endblock %}
