{% extends 'base.html.twig' %}

{% block title %}Semaines{% endblock %}

{% block body %}
    <section class="menu-header">
        <h3>{{ page_title }}</h3>
    </section>
    <section class="weeks-content">
        {% for week in weeks %}
            <div class="weeks-link">
                <a href="{{ path('week', {'slug': week.slug}) }}" >{{ week.name }}</a> <div><a href="">Déjeuner</a> | <a href="">Diner</a></div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
